In [1]:
import numpy as np
import pandas as pd

In [2]:
criminal_anal_police = pd.read_csv('data/02. crime_in_Seoul.csv',\
                                  thousands=',', encoding='cp949')  # 이렇게 불러옴
criminal_anal_police.info()  # data information을 봅시다
# 총 31개 entries,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   관서명     31 non-null     object
 1   살인 발생   31 non-null     int64
 2   살인 검거   31 non-null     int64
 3   강도 발생   31 non-null     int64
 4   강도 검거   31 non-null     int64
 5   강간 발생   31 non-null     int64
 6   강간 검거   31 non-null     int64
 7   절도 발생   31 non-null     int64
 8   절도 검거   31 non-null     int64
 9   폭력 발생   31 non-null     int64
 10  폭력 검거   31 non-null     int64
dtypes: int64(10), object(1)
memory usage: 2.8+ KB

In [3]:
criminal_anal_police.head()
# 경찰서명, 발생, 검거, 발생, 검서 이런식

    관서명  살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생  절도 검거  폭력 발생  폭력 검거
0   중부서      2      2      3      2    105     65   1395    477   1355   1170
1   종로서      3      3      6      5    115     98   1070    413   1278   1070
2  남대문서      1      0      6      4     65     46   1153    382    869    794
3  서대문서      2      2      5      4    154    124   1812    738   2056   1711
4   혜화서      3      2      5      4     96     63   1114    424   1015    861

In [4]:
# conda install -c conda-forge googlemaps   -> 구글 맵스 설치

In [9]:
import googlemaps

In [90]:
# key값 잘 받아졌는지 확인용
gmap_key = "xxxx"  # <- 여기에 key값 입력. from. google geocording api
gmaps = googlemaps.Client(key=gmap_key)

In [91]:
# key값 잘 받아졌는지 이걸로 확인 가능2
gmaps.geocode('서울중부경찰서', language='ko')   # -> 자세히 보면 list로 묶여있음

[{'address_components': [{'long_name': '２７',
    'short_name': '２７',
    'types': ['premise']},
   {'long_name': '수표로',
    'short_name': '수표로',
    'types': ['political', 'sublocality', 'sublocality_level_4']},
   {'long_name': '을지로동',
    'short_name': '을지로동',
    'types': ['political', 'sublocality', 'sublocality_level_2']},
   {'long_name': '중구',
    'short_name': '중구',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': '서울특별시',
    'short_name': '서울특별시',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']},
   {'long_name': '100-032',
    'short_name': '100-032',
    'types': ['postal_code']}],
  'formatted_address': '대한민국 서울특별시 중구 을지로동 수표로 27',
  'geometry': {'location': {'lat': 37.5636465, 'lng': 126.9895796},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.56499548029149,
     'lng': 126.9909285802915},
    'southwest': {'lat': 37.56229751970849, 'lng': 126.9882306197085}}},
  'place_id': 'ChIJc-9q5uSifDURLhQmr5wkXmc',
  'plus_code': {'compound_code': 'HX7Q+FR 대한민국 서울특별시',
   'global_code': '8Q98HX7Q+FR'},
  'types': ['establishment', 'point_of_interest', 'police']}]

In [6]:
#------------------------------------------------------------------여기부터 오늘 시작

In [7]:
station_name = []
for name in criminal_anal_police['관서명']:
    station_name.append('서울' + str(name[:-1]) + '경찰서')
    
print(station_name)

['서울중부경찰서', '서울종로경찰서', '서울남대문경찰서', '서울서대문경찰서', '서울혜화경찰서', '서울용산경찰서', '서울성북경찰서', '서울동대문경찰서', '서울마포경찰서', '서울영등포경찰서', '서울성동경찰서', '서울동작경찰서', '서울광진경찰서', '서울서부경찰서', '서울강북경찰서', '서울금천경찰서', '서울중랑경찰서', '서울강남경찰서', '서울관악경찰서', '서울강서경찰서', '서울강동경찰서', '서울종암경찰서', '서울구로경찰서', '서울서초경찰서', '서울양천경찰서', '서울송파경찰서', '서울노원경찰서', '서울방배경찰서', '서울은평경찰서', '서울도봉경찰서', '서울수서경찰서']

In [10]:
# 얘를 이용해서 구글api를 쓸거임. -> 3가지 만들 것 (주소, 위도, 경도)
station_address = []
station_lat = []
station_lng = []

# 우리가 가져와야 할 놈은 formatted_address
for name in station_name:
    tmp = gmaps.geocode(name, language='ko')
    # print(tmp[0]['formatted_Address'])
    #station_address.append(tmp[0]['formatted_address'])  # 이것 또는 아랫것 사용 가능
    station_address.append(tmp[0].get('formatted_address'))
    
    station_lat.append(tmp[0]['geometry']['location']['lat'])  # -> 잘보면 list 구조 -> [0]번째의 'geometry'의 'location'의 'lat'
    station_lng.append(tmp[0]['geometry']['location']['lng']) # 위도, 경도 어떻게 append 시킬건지.
# 얘가 최종 소스.

    station_lat.append(tmp[0].get('geometry').get('location').get('lat'))  #  get은 이렇게 하면 됨

NameError: name 'gmaps' is not defined

In [13]:
print(station_address, len(station_address))   # 얘가 최종 소스 마지막

[] 0

In [14]:
print(station_address, len(station_lat)  # 31개

SyntaxError: unexpected EOF while parsing (<ipython-input-14-4cf1d861f03c>, line 1)

In [15]:
print(station_address, len(station_lng)   # 31개

SyntaxError: unexpected EOF while parsing (<ipython-input-15-90413a710b87>, line 1)

In [16]:
criminal_anal_police.head()

    관서명  살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생  절도 검거  폭력 발생  폭력 검거
0   중부서      2      2      3      2    105     65   1395    477   1355   1170
1   종로서      3      3      6      5    115     98   1070    413   1278   1070
2  남대문서      1      0      6      4     65     46   1153    382    869    794
3  서대문서      2      2      5      4    154    124   1812    738   2056   1711
4   혜화서      3      2      5      4     96     63   1114    424   1015    861

In [17]:
gu_name = []

# 단어별로 split 하기  -> black별로 쭉 쪼개짐 -> 쪼개진걸로 list 만들어짐
for name in station_address:
    tmp = name.split()                           # 0번째
    tmp_gu = [gu for gu in tmp if gu[-1] == '구'][0]  # tmp에서 하나씩 gu라는 변수를 담을것,  if 라는 조건을 달아서 -> 마지막 글자가 '구'라고 되어있는 글자만 담을 것  -> 그걸 tmp_gu에 담을 것
    gu_name.append(tmp_gu)

In [18]:
print(gu_name)

[]

In [19]:
criminal_anal_police['구별'] = gu_name
criminal_anal_police.head()

ValueError: Length of values (0) does not match length of index (31)

In [20]:
# conda install openpyxl  # -> 반드시 이걸 깔고 엔진에 기술 해줘야 엑셀 파일 읽을 수 있음

In [22]:
df = pd.read_excel('data/02. sales-funnel.xlsx', engine='openpyxl')

In [23]:
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Account   17 non-null     int64
 1   Name      17 non-null     object
 2   Rep       17 non-null     object
 3   Manager   17 non-null     object
 4   Product   17 non-null     object
 5   Quantity  17 non-null     int64
 6   Price     17 non-null     int64
 7   Status    17 non-null     object
dtypes: int64(3), object(5)
memory usage: 1.2+ KB

In [25]:
pd.pivot_table(df, index=['Name'])   # 컬럼이 index가 됨. 숫자는 날라감, 평균값은 자동 계산해줌.(?)

                              Account   Price  Quantity
Name
Barton LLC                     740150   35000  1.000000
Fritsch, Russel and Anderson   737550   35000  1.000000
Herman LLC                     141962   65000  2.000000
Jerde-Hilpert                  412290    5000  2.000000
Kassulke, Ondricka and Metz    307599    7000  3.000000
Keeling LLC                    688981  100000  5.000000
Kiehn-Spinka                   146832   65000  2.000000
Koepp Ltd                      729833   35000  2.000000
Kulas Inc                      218895   25000  1.500000
Purdy-Kunde                    163416   30000  1.000000
Stokes LLC                     239344    7500  1.000000
Trantow-Barrows                714466   15000  1.333333

In [27]:
# 3개의 column 을 index로 ->   동일간 column값이 있으면 걔를 평균값을 내줌
pd.pivot_table(df, index=['Name', 'Rep', 'Manager'])

,,,Account,Price,Quantity
Name,Rep,Manager,,,
Barton LLC,John Smith,Debra Henley,740150,35000,1.000000
"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,737550,35000,1.000000
Herman LLC,Cedric Moss,Fred Anderson,141962,65000,2.000000
Jerde-Hilpert,John Smith,Debra Henley,412290,5000,2.000000
"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,307599,7000,3.000000
Keeling LLC,Wendy Yule,Fred Anderson,688981,100000,5.000000
Kiehn-Spinka,Daniel Hilton,Debra Henley,146832,65000,2.000000
Koepp Ltd,Wendy Yule,Fred Anderson,729833,35000,2.000000
Kulas Inc,Daniel Hilton,Debra Henley,218895,25000,1.500000
Purdy-Kunde,Cedric Moss,Fred Anderson,163416,30000,1.000000
Stokes LLC,Cedric Moss,Fred Anderson,239344,7500,1.000000
Trantow-Barrows,Craig Booker,Debra Henley,714466,15000,1.333333

In [28]:
pd.pivot_table(df, index=['Manager', 'Rep'], values=['Price'])  # 표시할 항목을 별도지정 가능 -> 여기선 price만 나오게

                                    Price
Manager       Rep
Debra Henley  Craig Booker   20000.000000
              Daniel Hilton  38333.333333
              John Smith     20000.000000
Fred Anderson Cedric Moss    27500.000000
              Wendy Yule     44250.000000

In [30]:
# 각 index마다 평균이 아니라, sum 을 구하고 싶다   -> aggfunc=sum    /   np.sum도 가능  ->  넘파이sum =(np.sum) 이 좀 더 빠름
pd.pivot_table(df, index=['Manager', 'Rep'], values=['Price'], \
              aggfunc=sum)

                              Price
Manager       Rep
Debra Henley  Craig Booker    80000
              Daniel Hilton  115000
              John Smith      40000
Fred Anderson Cedric Moss    110000
              Wendy Yule     177000

In [31]:
# 특별한 기능을 주고싶으면 그걸 aggfunc에 넣어주면 됨
pd.pivot_table(df, index=['Manager', 'Rep'], values=['Price'], \
              aggfunc=np.sum)

                              Price
Manager       Rep
Debra Henley  Craig Booker    80000
              Daniel Hilton  115000
              John Smith      40000
Fred Anderson Cedric Moss    110000
              Wendy Yule     177000

In [32]:
pd.pivot_table(df, index=['Manager', 'Rep', 'Product'], \
               values=['Price', 'Quantity'], \
              aggfunc=[np.sum, np.mean], fill_value=0, \
              margins=True)
# 피벗테이블은 이정도만 할것.

                                            sum                   mean  \
                                          Price Quantity         Price
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           65000        2  32500.000000
                            Maintenance    5000        2   5000.000000
                            Software      10000        1  10000.000000
              Daniel Hilton CPU          105000        4  52500.000000
                            Software      10000        1  10000.000000
              John Smith    CPU           35000        1  35000.000000
                            Maintenance    5000        2   5000.000000
Fred Anderson Cedric Moss   CPU           95000        3  47500.000000
                            Maintenance    5000        1   5000.000000
                            Software      10000        1  10000.000000
              Wendy Yule    CPU          165000        7  82500.000000
                            Maintenance    7000        3   7000.000000
                            Monitor        5000        2   5000.000000
All                                      522000       30  30705.882353


                                         Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU          1.000000
                            Maintenance  2.000000
                            Software     1.000000
              Daniel Hilton CPU          2.000000
                            Software     1.000000
              John Smith    CPU          1.000000
                            Maintenance  2.000000
Fred Anderson Cedric Moss   CPU          1.500000
                            Maintenance  1.000000
                            Software     1.000000
              Wendy Yule    CPU          3.500000
                            Maintenance  3.000000
                            Monitor      2.000000
All                                      1.764706

In [35]:
criminal_anal = pd.pivot_table(criminal_anal_police, index='구별', \
                              aggfunc=np.sum)  # () <- data, index=구별, aggfunc=np.sum -> 합산   =>  구별로 싸그리 sum 해버림
# 구별 -> 구글maps(=geocofing) api 기능 필요

KeyError: '구별'

In [34]:
criminal_anal.head()

NameError: name 'criminal_anal' is not defined

In [37]:
# criminal_anal['강간검거율'] = 
# criminal_anal['강도검거율'] = 
# criminal_anal['살인검거율'] = 
# criminal_anal['절도검거율'] = 
# criminal_anal['폭력검거율'] = 

# del criminal_anal['강간 검거']
# del criminal_anal['강도 검거']
# del criminal_anal['살인 검거']
# del criminal_anal['절도 검거']
#d el criminal_anal['폭력 검거']

# 사실 안전하게 하려면 별도 칸을 내보고 하는게 안전

"\ncriminal_anal['강간검거율'] = \ncriminal_anal['강도검거율'] = \ncriminal_anal['살인검거율'] = \ncriminal_anal['절도검거율'] = \ncriminal_anal['폭력검거율'] = \n\ndel criminal_anal['강간 검거']\ndel criminal_anal['강도 검거']\ndel criminal_anal['살인 검거']\ndel criminal_anal['절도 검거']\ndel criminal_anal['폭력 검거']\n"

In [39]:
criminal_anal['강간검거율'] = criminal_anal['강간 검거'] / criminal_anal['강간 발생'] * 100
criminal_anal['강도검거율'] = criminal_anal['강도 검거'] / criminal_anal['강도 발생'] * 100
criminal_anal['살인검거율'] = criminal_anal['살인 검거'] / criminal_anal['살인 발생'] * 100
criminal_anal['절도검거율'] = criminal_anal['절도 검거'] / criminal_anal['절도 발생'] * 100
criminal_anal['폭력검거율'] = criminal_anal['폭력 검거'] / criminal_anal['폭력 발생'] * 100

NameError: name 'criminal_anal' is not defined

In [40]:
del criminal_anal['강간 검거']
del criminal_anal['강도 검거']
del criminal_anal['살인 검거']
del criminal_anal['절도 검거']
del criminal_anal['폭력 검거']

NameError: name 'criminal_anal' is not defined

In [41]:
criminal_anal.head()   # 검거율 100% 넘는 이유 -> 적년에 잡고 올해 넘어옴 -> 그런걸로 추측 -> 100%가 넘는건 100%로 생각하고 100으로 수정

NameError: name 'criminal_anal' is not defined

In [42]:
col_list = ['강간검거율', '강도검거율', '살인검거율', '절도검거율', '폭력검거율']  # 우리가 수정해야 할 column
# list로 만든 이유 -> for문으로 돌릴려고

# pandas 테이블의 특정 값을 잡기
# df.loc[index, coulmn] = value    # -> loc으로 특정 index row의 column값을 잡음   -> 그 값을 value로 바꿈

for column in col_list:
    criminal_anal.loc[criminal_anal[column] > 100, column] = 100   # criminal_anal[column] > 100 -> 얘가 index 부분  ,  뒤의 column부분으 collumn
                                    #   -> 100 넘는 값을 100으로 바꾸는 것.
criminal_anal.head()

NameError: name 'criminal_anal' is not defined

In [43]:
a = np.array([1, 2, 3, 4, 5])
print(a[a > 3])

[4 5]

In [44]:
criminal_anal.rename(columns={'강간 발생':'강간',
                             '강도 발생':'강도',
                             '살인 발생':'살인',
                             '절도 발생':'절도',
                             '폭력 발생':'폭력'}, inplace=True)  # rename 하는 것

# inplace라는 옵션이 있는 경우 클립보드 실행만 할지, 저장을 할지를 결정할 수 있다. rename의 inplace 기본값은 'False'이다. 이걸 'True'로 바꿔주면 저장이 된다

NameError: name 'criminal_anal' is not defined

In [45]:
criminal_anal.head()

NameError: name 'criminal_anal' is not defined

In [46]:
# 폭럭은 수천건, 살인, 강도는 열 몇건...서로간에 비교하기엔 스케일이 다름  -> 조치를 취해야 함
# 이 값들을 0에서 1사이의 값으로 변환하는 기능 =>  MinMaxScaling
# xi(new) = {xi - x(min) } / {x(max) - x(min)}  ->  0~1 사이 값이 나옴  (ex: 5(-1)/(7-1) =5/6    


# conda install scikit-learn
# (yes)

In [47]:
from sklearn import preprocessing

col = ['강간', '강도', '살인', '절도', '폭력']
x = criminal_anal[col].values
mix_max_scaler = preprocessing.MinMaxScaler()

# x값을 바꿈
x_scaled = min_max_scaler.fit_transform(x.astype(float))

# 보기 편하게 하나씩 해보자

#  가장 큰값을 1로 잡고 나머지를 상대적으로 낮게 잡은 것.  -> 이러면 상대적으로 쉽게 비교 가능.

NameError: name 'criminal_anal' is not defined

In [48]:
print(x)

NameError: name 'x' is not defined

In [49]:
print(x_scaled)

# 이쪽 자치구가 1일때, 이쪽 자치구는 0.xx, 0.xx 이런식으로 감

NameError: name 'x_scaled' is not defined

In [50]:
crime_anal_norm = pd.DataFrame(x_scaled, columns=col, \
                              index=criminal_anal.index)

NameError: name 'x_scaled' is not defined

In [51]:
crime_anal_norm.head()

NameError: name 'crime_anal_norm' is not defined

In [52]:
# 한방에 처리하게 list로 만듦
col2 = ['강간검거율', '강도검거율', '살인검거율', '절도검거율', '폭력검거율']
# 우리가 데이터프레임에 column 추가하려면 콜럼만 추가하면 됨
crime_anal_norm[col2] = criminal_anal[col2]
crime_anal_norm.head()

NameError: name 'criminal_anal' is not defined

In [54]:
# 2017년도 cctv데이터
result_CCTV = pd.read_csv('data/01. CCTV_result.csv', index_col='구별')
result_CCTV.head()

,소계,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율,CCTV비율,오차
구별,,,,,,,,,,
강남구,2780,150.619195,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217,0.487292,1388.055355
강동구,773,166.490765,453233.0,449019.0,4214.0,54622.0,0.929765,12.051638,0.170552,465.422892
강북구,748,125.203252,330192.0,326686.0,3506.0,54813.0,1.061806,16.600342,0.226535,329.342026
강서구,884,134.793814,603772.0,597248.0,6524.0,72548.0,1.080540,12.015794,0.146413,551.503155
관악구,1496,149.290780,525515.0,507203.0,18312.0,68082.0,3.484582,12.955291,0.284673,162.948104

In [55]:
# 위 데이터를  검거율 데이터쪽에 포함시키려고 함
crime_anal_norm[['인구수', 'CCTV']] = result_CCTV[['인구수', '소계']]   #  -> 이러면 맨 끝에 인구수, CCTV column 추가됨 (그 값을 CCTV의 '인구수', '소계')
crime_anal_norm.head()

NameError: name 'crime_anal_norm' is not defined

In [56]:
# 값 더해서 하나 새로 만들기
col = ['강간', '강도', '살인', '절도', '폭력']
crime_anal_norm['범죄'] = np.sum(crime_anal_norm[col], axis=1)
crime_anal_norm.head()

# 이러면 맨 끝 column에 '범죄' 로  새로 항목이 하나 추가됨

NameError: name 'crime_anal_norm' is not defined

In [57]:
# 위와 같은 방식으로 검거 추가
col = ['강간검거율', '강도검거율', '살인검거율', '절도검거율', '폭력검거율']
crime_anal_norm['검거'] = np.sum(crime_anal_norm[col], axix=1)
crime_anal_norm.head()

# 이러면 맨 끝 column에 '검거' 로  새로 항목이 하나 추가됨

NameError: name 'crime_anal_norm' is not defined

In [60]:
import matplotlib.pyplot as plt
import seaborn as sns

In [61]:
import platform
from matplotlib import font_manager, rc # Runtime Configuration

path = "c:/Windows/Fonts/malgun.ttf"
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

In [62]:
sns.pairplot(crime_anal_norm, vars=['강도', '살인', '폭력'], \
           kind='reg', height=3)
plt.show()

# 이 3가지 범죄들의 그래프들은 양의 상관관계를 갖고있다고 보기 충분 -> 하나가 증가하면 나머지도 증가한다는 연관성이 있다고 짐작.

# 그럼 CCTV과 살인, 강도는 얼마나 상관관계가 있는지 봅시다.

NameError: name 'crime_anal_norm' is not defined

In [63]:
sns.pairplot(crime_anal_norm, x_vars=['인국수', 'CCTV'], \
           y_vars=['강도', '살인'], \
             kind='reg', height=3)

plt.show()

# CCTV가 많이 있어도 범죄가 많이 일어나는 지역이 있음 -> 상관관계 있다고 보기 어려움

NameError: name 'crime_anal_norm' is not defined

In [64]:
# 이번에는 CCTV와 검거율을 봅시다
sns.pairplot(crime_anal_norm, x_vars=['인국수', 'CCTV'], \
           y_vars=['살인검거율', '폭력검거율'], \
             kind='reg', height=3)
plt.show()

# 높을줄 알았는데,  꼭 그렇진 않음. -> 결과로 봐서는 범죄 예방에 더 도움이 되는듯.

NameError: name 'crime_anal_norm' is not defined

In [65]:
# 이제 여기서 데이터를 좀 가공해 보겠음
tmp_max = crime_anal_norm['검거'].max()
crime_anal_norm['검거'] = crime_anal_norm['검거'] / tmp_max * 100   # 검거 max값을 기준으로 나머지를 %(퍼센트)로 보려는 것
# 얘를 그리고 sort를 합시다
crime_anal_norm_sort = crime_anal_norm.sort_values(by='검거', \
                                                  ascending=False)
# 검거 점수를 보고 싶은 것

NameError: name 'crime_anal_norm' is not defined

In [66]:
crime_anal_norm_sort.head()

NameError: name 'crime_anal_norm_sort' is not defined

In [67]:
# 얘를 기준으로 상대적인 히트맵을 보자
target_col = ['강간검거율', '강도검거율', '살인검거율', '절도검거율', '폭력검거율']
# crime_anal_norm_sort = crime_anal_norm.sort_values(by='검거')  -> sort는 위에서 했내.
sns.heatmap(crime_anal_norm_sort[target_col], annot=True, \
           fmt='f', linewidths=.5)
plt.title('범죄 검거 비율')
plt.show()

# 히트맵 : 수치를 색깔을 이용해서 보여주는 것

# 도봉구는 절도 검거율이 낮다.
# 전체적인 검거율을 보면 서초구가 굉장히 낮다.

NameError: name 'crime_anal_norm_sort' is not defined

In [68]:
# 이번엔 발생 건수로 히트맵을 그려보자
target_col = ['강간', '강도', '살인', '절도', '폭력', '범죄']
crime_anal_norm['범죄'] = crime_anal_norm['범죄'] / 5   # 범죄 5개라 평균 구하려고 5개로 나눈 것
crime_anal_norm_sort = crime_anal_norm.sort_values(by='범죄', ascending=False)

plt.figure(figsize=(10,10))
sns.heatmap(crime_anal_norm_sort[target_col], annot=True, fmt='f', linewidths=.5)

plt.title('범죄비율')
plt.show()

# 강남 3구는 다 상위권. 범죄 발생건수는 제일 높음
# 오히려 도봉구, 서대문구 같은곳이 발생 건수는 제일 낮음

NameError: name 'crime_anal_norm' is not defined

In [69]:
import json
geo_path = 'data/seoul_geo.json'
geo_str = json.load(open(geo_path, encoding='utf-8'))

In [70]:
import folium

In [73]:
map = folium.Map(location=[37.5502, 126.982], zoom_start=11, tiles='Stamen Toner') # 위치(위도, 경도)는 서울 한가운데, 초기 줌 = 11
folium.Choropleth(geo_data=geo_str, 
                  data=crime_anal_norm['살인'],
                  columns=[crime_anal_norm.index, \
                          crim_anal_norm['살인']],
                 fill_color='PuRd',
                 key_on='feature.id').add_to(map)
map

# 그림으로 봐도 강남 3구가 안전하다고 할 순 없음

NameError: name 'crime_anal_norm' is not defined

In [74]:
map = folium.Map(location=[37.5502, 126.982], zoom_start=11, 
                 tiles='Stamen Toner') # 위치(위도, 경도)는 서울 한가운데, 초기 줌 = 11
folium.Choropleth(geo_data=geo_str, 
                  data=crime_anal_norm['범죄'],
                  columns=[crime_anal_norm.index, \
                          crim_anal_norm['범죄']],
                 fill_color='PuRd',
                 key_on='feature.id').add_to(map)
map

# 물론 강북은 사람이 적으니 범죄가 적을 수 있음.

NameError: name 'crime_anal_norm' is not defined

In [75]:
# 인구수를 고려해서 한번 해봅시다.
tmp_criminal = crime_anal_norm['살인'] / \
                        crime_anal_norm['인구수'] * 1000000  # 인구수가 너무 작으니까 숫자를 좀 키움
map = folium.Map(location=[37.5502, 126.982], zoom_start=11, 
                 tiles='Stamen Toner') # 위치(위도, 경도)는 서울 한가운데, 초기 줌 = 11
folium.Choropleth(geo_data=geo_str, 
                  data=tmp_criminal,
                  columns=[crime_anal_norm.index, \
                          tmp_criminal],
                 fill_color='PuRd',
                 key_on='feature.id').add_to(map)
map

NameError: name 'crime_anal_norm' is not defined

In [76]:
tmp_criminal = crime_anal_norm['검거'] / \
                        crime_anal_norm['인구수'] * 1000000  # 인구수가 너무 작으니까 숫자를 좀 키움
map = folium.Map(location=[37.5502, 126.982], zoom_start=11, 
                 tiles='Stamen Toner') # 위치(위도, 경도)는 서울 한가운데, 초기 줌 = 11
folium.Choropleth(geo_data=geo_str, 
                  data=tmp_criminal,
                  columns=[crime_anal_norm.index, \
                            tmp_criminal],
                 fill_color='PuRd',
                 key_on='feature.id').add_to(map)
map

# 인구수 대비로 검거

NameError: name 'crime_anal_norm' is not defined

In [77]:
criminal_anal.head()  # 원데이터 그대로

NameError: name 'criminal_anal' is not defined

In [79]:
# 위도 경도 뽑아보기
#위도
criminal_anal['lat'] = station_lat
criminal_anal['lng'] = station_lng  # 경도

print(len(criminal_anal), len(station_lat), len(station_lng))  # 구별 데이터, 경찰서별 데이터 x 2 라 당연히 안맞음  -> 25, 31, 31

#col = ['살인 검거', '강도 검거', '강간 검거', '정도 검거', '폭력 검거']

NameError: name 'criminal_anal' is not defined

In [84]:
# 위도 경도 뽑아보기
#위도
criminal_anal_police['lat'] = station_lat
criminal_anal_police['lng'] = station_lng  # 경도

# 위도 경도(lat, lng)는 위에서 geocording을 이용해서 뽑아야 하는 것. geocording api안쓰므로 에러.

ValueError: Length of values (0) does not match length of index (31)

In [81]:
criminal_anal_police.head()

    관서명  살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생  절도 검거  폭력 발생  폭력 검거
0   중부서      2      2      3      2    105     65   1395    477   1355   1170
1   종로서      3      3      6      5    115     98   1070    413   1278   1070
2  남대문서      1      0      6      4     65     46   1153    382    869    794
3  서대문서      2      2      5      4    154    124   1812    738   2056   1711
4   혜화서      3      2      5      4     96     63   1114    424   1015    861

In [83]:
col = ['살인 검거', '강도 검거', '강간 검거', '절도 검거', '폭력 검거']
tmp = criminal_anal_police[col] / criminal_anal_police[col].max()
criminal_anal_police['검거'] = np.sum(tmp, axis=1)  # 자치구별로 값을 더한 것
criminal_anal_police.head()

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,검거
0,중부서,2,2,3,2,105,65,1395,477,1355,1170,1.275416
1,종로서,3,3,6,5,115,98,1070,413,1278,1070,1.523847
2,남대문서,1,0,6,4,65,46,1153,382,869,794,0.907372
3,서대문서,2,2,5,4,154,124,1812,738,2056,1711,1.978299
4,혜화서,3,2,5,4,96,63,1114,424,1015,861,1.198382

In [85]:
map = folium.Map(location=[37.5502, 126.982], zoom_start=11)

for n in criminal_anal_police.index:
    folium.Marker([criminal_anal_police['lat'][n], \
                  criminal_anal_police['lng'][n]]).add_to(map)  # 서울 시내의 경찰서 위치
map

KeyError: 'lat'

In [89]:
map = folium.Map(location=[37.5502, 126.982], zoom_start=11)

for n in criminal_anal_police.index:
    folium.CircleMarker([criminal_anal_police['lat'][n], \
                   criminal_anal_police['lng'][n]],
                  radius=criminal_anal_police['검거'][n]*10,
                  color='#3186cc', \
                  fill_color='#3186cc').add_to(map)
map   # 서울 시내의 경찰서 위치

# 원이 클수록 실적 높고 작을수록 낮음

KeyError: 'lat'

In [88]:
map = folium.Map(location=[37.5502, 126.982], zoom_start=11)

folium.Choropleth(geo_data=geo_str, 
                  data=crime_anal_norm['범죄'],
                  columns=[crime_anal_norm.index, \
                          crim_anal_norm['범죄']],
                 fill_color='PuRd',
                 key_on='feature.id').add_to(map)

for n in criminal_anal_police.index:
    folium.CircleMarker([criminal_anal_police['lat'][n], \
                   criminal_anal_police['lng'][n]],
                  radius=criminal_anal_police['검거'][n]*10,
                  color='#3186cc', \
                  fill_color='#3186cc').add_to(map)

map

# 위에거 합해서, 자치구별로 범죄율, 검거율이 한번에 표시됨
# ex) 강서구는 범죄율이 높지 않으면서 검거율이 높음

NameError: name 'crime_anal_norm' is not defined